[Unit]
Description=OpenSprinkler Controller

[Service]
User=opensprinkler
# Prepend "/usr/bin/stdbuf -oL" to ExecStart to write diagnostic output to journal
ExecStart=/usr/bin/stdbuf -oL /opt/opensprinkler/OpenSprinkler
WorkingDirectory=/opt/opensprinkler
Restart=always
RestartSec=10
# Easy way to allow program to bind to port 80, not the secure solution
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
