[Unit]
Description=OpenSprinkler Controller

[Service]
User=opensprinkler
# Prepend "/usr/bin/stdbuf -oL" to ExecStart to write diagnostic output to journal
ExecStart=/usr/bin/stdbuf -oL /opt/opensprinkler/OpenSprinkler
WorkingDirectory=/opt/opensprinkler
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
